
.favorites-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.chart-container {
    min-width: 200px;
    width: 500px;
    border: 3px solid black;
    margin: 10px 30px;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 1px 3px 0px rgb(88, 88, 88);
    height: min-content;
}
h1 {
    
    text-decoration: underline ;
    text-decoration-color:rgb(76, 121, 245);
    text-decoration-thickness: 2px;
    text-align: center;
    font-family: 'BioRhyme', serif;
    font-size: 2rem;
    padding:0;
    margin: 10px;
    color: rgb(5, 5, 5);
}
.favorite-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    margin : 5px;
}
@media only screen and (max-width: 450px){
    .chart-container {
        width:350px;
    }
    p{
        margin-left: 15px;
    }
}
@media only screen and (max-height: 450px) and (max-width: 750px){

}