body {
    background-color: rgb(235, 234, 234);
}

.graph-dnd-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}